@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet');

*,
*::before,
*::after {
  box-sizing: border-box;
}
input,
button,
textarea,
select {
  font: inherit;
  font-size: 0.8em;
  padding: 0.3em;
  width: auto;
  /* appearance: none; */
}
body {
  /* color: #0733d6; */
  color: #ffccda;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  /* background-color: #ebbdd2; */
  background-color: black;
}


header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin:-2em 1em 0 0.5em;
}

header img {
  width: 20vw;
  margin: 2em 0 0 -1em;

}
h1 {
  color: #75fad7;
  font-size: 4em;
  line-height: 1.1em;
}

form {
  /* background-color: #ffccda; */
  background-color: black;
  /* box-shadow: 1px 1px 1px 2px #39403e; */
  border-radius: 20px;
  border: 1px solid #0733d6;
  display: grid;
  gap: 1.5em;
  grid-template-rows: auto;
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  padding: 3em;
  margin-left: 2em;
  margin-top: 1em;

}

button {
  background-color: #ab26aa;
  border-radius: 20px;
  color: #ffccda;
  border-color: : transparent;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
    /* width: 50%; */

}
.grid-container {
  display: inline-grid;
  grid-template-columns: minmax(18ch, 40ch) repeat(3, auto);
  grid-template-rows: repeat(4, auto)
  gap: 2em;
  margin: 2em;
}
.field {
  width: 100%;
  /* background-color: #ffccda; */
  background-color: black;
  border-color: transparent transparent #0733d6;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  /* color: #ab26aa; */
  color: grey;
}

.dropdown-text{
  background-color: #1f1e1e;
  border-radius: 15px;
  border: 0;
  color: #33b08f;
  width: 100%;

}
.form-description {
  margin: -1em 0 3em 0;
  color: #ab26aa;
}
.form-description a {
  color: #75fad7;
}
.select {
  
}


@media (max-width: 768px) {

.grid-container {
display: inline-grid;
grid-template-rows: auto auto;
grid-template-columns: auto;
margin: 1em 1.5em;
}
header {
  grid-row: 1 / 1;
  grid-column: 1 /2;
  margin: 0;
  text-align: center;
}
header img {
  width: 60vw;
}
h1 {
  font-size: 2em;
  padding-bottom: 0.5em;
}
form {
  grid-row: 2 / 2;
  grid-column: 1 /2;
  margin-left: 0;
  margin-top: 0;
  padding: 2em;
}
}
