@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet');

/* GLOBAL STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #226050;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
  background-color: #226050;
}

header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin:-2em 1em 0 0.5em;
}

header img {
  width: 20vw;
  margin: 2em 0 0 -1em;
  padding-bottom: .5em;
}

h1 {
  color: #cfa7f9;
  font-size: 3.5em;
  line-height: 1em;
  margin-top: 10px;
}

/* CONTAINER */

.grid-container {
  display: inline-grid;
  grid-template-columns: minmax(18ch, 40ch) repeat(3, auto);
  grid-template-rows: repeat(4, auto)
  gap: 2em;
  margin: 2em;
}

/* FORM */

form {
  /* background-color: #ffccda; */
  background-color: #f39ed6;
  /* box-shadow: 1px 1px 1px 2px #39403e; */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  border-radius: 5px;
  /* border: 1px solid #0733d6; */
  display: grid;
  font-weight: 300;
  gap: 1.5em;
  grid-template-rows: auto;
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  padding: 3em;
  margin-left: 2em;
  margin-top: 1em;
}

.question {
  font-weight: 500;
  color: #226050;
}

.form-description {
  margin: -2em 0 3em 0;
  font-weight: 500;
  /* background-color: #f64700; */
  color: white;
  padding: .3em;
}

.form-description a {
  color: white;
  background-color: #f64700;
}

/* FIELD */

.field,
.dropdown-text {
  width: 100%;
  background-color: #f39ed6;
  border-color: transparent transparent #f64700;
  border-style: solid;
  border-width: 2px;
  border-radius: 0;
  color: #164c3d;
  font-size: 1em;
  font-family: inherit;
  font-weight: 300;
}
.gender-field {
  width: 100%;
  background-color: #f39ed6;
  border-color: transparent transparent #f64700;
  border-style: solid;
  border-width: 2px;
  border-radius: 0;
  color: #164c3d;
  font-size: 1em;
  font-family: inherit;
  font-weight: 300;
  padding: .5em 0 0 .3em;
}

.age-line {
  width: 13ch;
}

/* INPUT */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* SELECT MENU */

select {
  font: inherit;
  font-size:1em;
  padding: .3em 1.3em .3em .3em;
  background: #cfa7f9;
  color: #226050;
  border:0;
  width: auto;
  position: relative;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-arrow {
  background: #f64700;
  display: block;
  height: 100%;
  position: absolute;
  pointer-events: none;
  right: 0;
  top:0;
  width: 2rem;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: .4em;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  /* right:50% */
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid #ffccda;
  top: 35%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #ffccda;
  top: 65%;
}

/* TEXT AREA */

.text-area {
  font: inherit;
  font-size: 1em;
  width: minmax(30ch, auto);
  background: #cfa7f9;
  border:0;
  color: #226050;
  line-height: 1.3em;
  padding: .2em 1.3em .2em .2em;
  /* padding: 0.3em; */
  /* width: auto; */
  /* appearance: none; */
}

/* BUTTON */

button {
  background-color: #f64700;
  border-radius: 5px;
  color: #ffccda;
  border-color: : transparent;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  font-weight: 500;
  border:0;
  padding: .4em;
  width: 30%;
}




@media (max-width: 768px) {

header {
  grid-row: 1 / 1;
  grid-column: 1 /2;
  margin: 0;
  text-align: center;
}

header img {
  width: 60vw;
}

h1 {
  font-size: 2em;
  padding-bottom: 0.5em;
}

form {
  grid-row: 2 / 2;
  grid-column: 1 /2;
  margin-left: 0;
  margin-top: 0;
  padding: 2em;
}
.grid-container {
display: inline-grid;
grid-template-rows: auto auto;
grid-template-columns: auto;
margin: 1em 1.5em;
}



}
